<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>
  <div class="lds-default" id="loader">
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
  </div>
  <select class="sw-movies__select">
    <option disabled selected value="0">Select a movie</option>
    <%- films%>
  </select>
  <h1 class="sw-title"><%- title%></h1>
  <ul class="sw-heroes__list"><%- heroes%></ul>
  <script src="/javascripts/index.js"></script>
</body>
</html>
